<div>
    <form action="" class="search-form" >
    
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Search users by Name" [(ngModel)]="username" name="username" (keyup)="findProfile()">
    
    </div>
</form>


<div *ngIf="profile" >
    <div class=" panel panel-defalt container">
        <div class="panel-heading jumbotron">
           <h1> {{profile.name}} <small>({{profile.login}})</small> </h1><br>
            <h2><span *ngIf="profile.company" class="">Works at {{profile.company}}</span></h2> <br>
            <h2>{{profile.location}}</h2>

        </div>

    </div> <br><br>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                <img src="{{profile.avatar_url}}" class="rounded-circle img-fluid" alt="profile picture">
            </div>
            <div class="col-sm-5">
                <ul class="list-group">
                    <li class="list-group-items"  >{{profile.bio}}</li>
                    <li class="list-group-items">Currently works at {{profile.company}}</li> 
                    <li class="list-group-items">Location:{{profile.location}}</li> 
                   
                </ul>
            </div>
            <br> <br> <br>
            <div class="col-sm-4, ">
                <div>
                    <p>
                        <span class="label label-default">Followers: {{profile.followers}} </span>
                        <span class="label label-primary">Following: {{profile.following}}</span>
                        <span class="label label-success"> public_gists: {{profile.public_gists}}</span> 
                        <span class="label label-info">{{profile.repository}} repos</span>
                    </p>
                </div>
               <a><a href="{{profile.html_url}}" target="blank" class="btn btn-success bt-sm">View profile on Github</a></a>
               <br>
                <div class="panel panel-default">
                    <div class="panel-heading card-body">
                      <h3 class="panel-tittle card-title">Repos</h3>
                    </div>
                
                
                    <div class="panel-body repos" *ngFor="let repo of repos">
                      <p class="clear-fix" style="color: black;font-size: 25px;font-weight: 500;font-style: italic;"> {{repo.name}} <br>  <a href="{{repo.html_url}}" target="black" class="btn btn-sm btn-warning pull-right" >View this project on Github</a></p>
                      <p class="p card-text"> {{repo.description}}</p>
                    </div> 
                </div>
            
            </div>
        </div>
    </div>

</div>

</div>
